<h2>{{title}}</h2>

<form \{{action save on="submit"}}>
  {{#each fields}}
  <p>
    <label for="{{id}}">{{title}}</label><br>
    \{{view Ember.TextField valueBinding="{{name}}" id="{{id}}"}}
  </p>
  {{/each}}
  <p>
    <button type="submit">Save</button>
  </p>

</form>

