<h2>{{title}}</h2>

\{{#linkTo "{{newPath}}"}}New {{modelTitle}}\{{/linkTo}}

<table>
  <thead>{{#each fields}}
    <th>{{name}}</th>{{/each}}
  </thead>
  <tbody>
    \{{#each {{resource}} in controller}}
    <tr>{{#each fields}}
      <td>\{{{{../resource}}.{{name}}}}}</td>{{/each}}
      <td>\{{#linkTo "{{resource}}" {{resource}}}}}view\{{/linkTo}}</td>
    </tr>
    \{{/each}}
  </tbody>
</table>


