<h2>{{title}}</h2>
{{#each fields}}
<p>
  <b>{{title}}:</b> \{{{{name}}}}}
</p>
{{/each}}
\{{#linkTo "{{resourcesRoute}}"}}â†All {{resources}}\{{/linkTo}}
\{{#linkTo "{{editRoute}}" model}}Edit\{{/linkTo}}
<a href="#" \{{action "destroy"}}>Destroy</a>
